* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  Cabeçalho */
header {
  height: 300px;
  background-image: url(../img/placamae.jpg);
  background-size: 110%;
  background-position: 0 -100px;
  transition: ease 1s;
  padding-top: 100px;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
  color: white;
  text-shadow: 4px 4px 1px rgb(0, 0, 0);
}

/* Fim do cabeçalho */

/* Barra de navegação */
nav {
  background-color: black;
  text-align: center;
  transition: ease 0.5s;
}

nav ul li {
  display: inline-block;
  padding: 30px;
  transition: ease 1s;
}

nav ul li:hover {
  background-color: rgb(32, 32, 32);
}

nav ul li a {
  font-family: sans-serif;
  font-size: 13pt;
  color: white;
  text-decoration: none;
}

/* Fim da barra de navegação */

/* Footer */
footer {
  height: 300px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  text-decoration: none;
  margin-top: 50px;
}

footer h2 {
  color: white;
  font-family: sans-serif;
  padding-top: 10px;
}

#redes ul li {
  display: inline-block;
  padding: 10px;
  padding-top: -100px;
}
/* Fim do Footer */

/* Inicio do css HOME */

h2 {
  font-family: sans-serif;
  font-size: 20pt;
  margin: 50px;
  border-bottom: 3px solid rgb(0, 0, 0);
  text-align: center;
}

#sobre p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: sans-serif;
  font-size: 15pt;
  line-height: 18pt;
}

#imghome {
  text-align: center;
}

#imghome img {
  width: 700px;
  height: 400px;
  margin: 20px;
  border-radius: 50px;
  /* mudar o ponteiro do mouse para uma mao quando passar em cima da imagem */
  cursor: pointer;
}

/* Fim do CSS HOME */

/* Inicio do css Trocas e frete */

#frete p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: sans-serif;
  font-size: 15pt;
  line-height: 18pt;
}

/* Fim do css trocas e frete */

/* Inicio do css Contato */

main form {
  width: 40%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

main form input[type="text"],
main form input[type="email"],
main form input[type="tel"],
main form select,
main form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 0px;
  border-bottom: 2px solid rgb(32, 18, 18);
  border-radius: 10px;
  display: block;
  cursor: pointer;
  border: 2px solid rgb(32, 18, 18);
}

main form input[type="tel"],
main form select {
  width: 30%;
}

main form textarea {
  height: 200px;
  margin-bottom: 10px;
  padding: 50px;
}

main form input[type="submit"] {
  padding: 10px;
  border: 0px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 40px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

/* Fim do css Contato */

h3 {
  font-family: arial;
  font-size: 20pt;
  margin: 30px;
  text-align: center;
}

#pc {
  padding: 30px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 2px 2px 10px black;
  justify-content: center;
}

#pc div {
  width: 30%;
  margin: 10px;
  border: 2px solid rgb(0, 0, 0);
}
#pc div img {
  width: 100%;
  height: 400px;
}

#pc div h4 {
  font-family: arial;
  font-size: 15pt;
  margin: 10px;
}

#pc div p {
  font-family: arial;
  font-size: 15pt;
  color: rgb(107, 52, 32);
  margin: 20px;
  font-weight: bold;
}

h2 {
  font-family: arial;
  font-size: 20pt;
  margin: 30px;
  text-align: center;
}

/* --------------------div linha--------------------- */

h3 {
  font-family: arial;
  font-size: 15pt;
  margin: 30px;
  text-align: center;
}

#linha div {
  width: 30%;
  margin: 10px;
  border: 2px solid rgb(0, 0, 0);
}
#linha img {
  width: 900px;
  height: 500px;
  border-radius: 80px;
}

#linha {
  text-align: center;
}
#linha div h4 {
  font-family: arial;
  font-size: 15pt;
  margin: 10px;
}

#linha p {
  font-family: arial;
  font-size: 15pt;
  color: rgb(0, 0, 0);
  margin: 20px;
}

h2 {
  font-family: arial;
  font-size: 20pt;
  margin: 30px;
  text-align: center;
}
